spring:
  profiles:
    include: secret
  jpa:
    properties:
      hibernate:
        show_sql: true
        use_sql_comments: true
        format_sql: true
    open-in-view: true
    hibernate:
      ddl-auto: validate