name: Auto deploy to NCP
run-name: Running
on:
  push:
    branches:
      - develop

jobs:
  build-with-gradle:
    runs-on: ubuntu-latest
    steps:
    # 체크아웃 및 JDK 세팅
    - name : Checkout
      uses: actions/checkout@v3
      with:
        ref: develop
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'zulu'
    # Secret YML 파일 생성
    - name: Setting secret
      run: |
        mkdir -p src/main/resources
        echo "${{ secrets.SECRET_YML }}" | base64 --decode > src/main/resources/application-secret.yml
        find src
      shell: bash
    # Gradle 권한 부여
    - name: Grant permission for gradlew
      run: chmod +x ./gradlew
    # Test 없이 빌드
    - name: Build with Gradle
      run: ./gradlew clean build -x test
    - name: Login to NCP Container Registry
      uses: docker/login-action@v2
      with:
        registry: ${{ secrets.NCP_CONTAINER_REGISTRY }}
        username: ${{ secrets.NCP_ACCESS_KEY }}
        password: ${{ secrets.NCP_SECRET_KEY }}
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.NCP_CONTAINER_REGISTRY }}/tag-name:latest
        cache-from: type=registry,ref=${{ secrets.NCP_CONTAINER_REGISTRY }}/tag-name:latest
        cache-to: type=inline
    - name: Connect server ssh and pull from container registry
      runs-on: ubuntu-latest
      steps:
        - name: connect ssh
          uses: appleboy/ssh-action@master
          with:
            host: ${{ secrets.NCP_HOST }}
            username: ${{ secrets.NCP_USERNAME }}
            password: ${{ secrets.NCP_PASSWORD }}
            port: ${{ secrets.NCP_PORT }}
            script: |
              docker pull ${{ secrets.NCP_CONTAINER_REGISTRY }}/tag-name
              docker stop $(docker ps -a -q)
              docker rm $(docker ps -a -q)
              docker run -d -p 8080:80 ${{ secrets.NCP_CONTAINER_REGISTRY }}/tag-name
              docker image prune -f
